__pycache__/
secrets.yaml
.esphome/
16-zone-sensor-kpa1-ec.yaml
external_components/template/__init__.py
external_components/template/binary_sensor/
external_components/template/button/
external_components/template/cover/
external_components/template/lock/
external_components/template/number/
external_components/template/output/
external_components/template/select/
external_components/template/sensor/
external_components/template/switch/
external_components/template/text/
external_components/template/text_sensor/



